* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 40px 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: white;

}

.logo {
    height: 30px;
}

.titolo {
    font-size: 50px;
    line-height: 1;
    margin: 70px 0 25px;
}

h3 {
    font-size: 23px;
    color: #D20094;
    margin-bottom: 5px;
}

ul {
    margin: 50px 30px 100px;
}

#procedeBtn {
    height: 50px;
    width: 150px;
    box-shadow: 0px 1px 20px 3px #00eaff;
    background-color: #00eaff;
    border: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #000047;
}

#footerBenvenuto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 805px;
}

input[type='checkbox'] {
    appearance: none;
    margin: 5px;
    border: 1px solid white;
    height: 15px;
    width: 15px;
}

input[type="checkbox"]:checked::after {
    content: "✓";
    font-size: 14px;
    color: #8a47c3;
}


/* PAGINA DOMANDE */

#quizContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#domanda {
    margin: 90px 0px 100px;
    text-align: center;
    max-width: 800px;
}

#question {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: space-between;

}

.btn {
    height: 50px;
    width: 200px;
    border: solid 1px;
    background: none;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    margin: 20px 100px;
}

#footerDomande {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.num {
    color: #D20094;
}

/* PAGINA SCORE */

.scorePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.titleScore {
    margin: 135px;
}